@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <p style="color:red">@ViewData["ErrorMessage"]</p>
}

<form asp-controller="Authentification" asp-action="Authenticate" method="post">
    <div>
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Login</button>
</form>
